In [4]:
import pandas as pd
import numpy as np

# Download the Data

In [5]:
cpi = pd.read_csv(r'data/cpi.csv')
fed_funds_rate = pd.read_csv(r'data/fed_funds_rate.csv')
gdp = pd.read_csv(r'data/gdp.csv')
sentiment = pd.read_csv(r'data/sentiment.csv')
SP_price_action = pd.read_csv(r'data/SP_price_action.csv')
u_rate = pd.read_csv(r'data/u_rate.csv')

In [6]:
cpi.head()

         DATE  FPCPITOTLZGUSA
0  1960-01-01        1.457976
1  1961-01-01        1.070724
2  1962-01-01        1.198773
3  1963-01-01        1.239669
4  1964-01-01        1.278912

In [6]:
fed_funds_rate.head()

         DATE   DFF
0  2019-06-06  2.37
1  2019-06-07  2.37
2  2019-06-08  2.37
3  2019-06-09  2.37
4  2019-06-10  2.37

In [7]:
gdp.head()

         DATE     GDPC1
0  1947-01-01  2182.681
1  1947-04-01  2176.892
2  1947-07-01  2172.432
3  1947-10-01  2206.452
4  1948-01-01  2239.682

In [8]:
sentiment.head()

         DATE UMCSENT
0  1952-11-01    86.2
1  1952-12-01       .
2  1953-01-01       .
3  1953-02-01    90.7
4  1953-03-01       .

In [9]:
SP_price_action.head()

         Date       Open       High        Low      Close  Adj Close  Volume
0  1927-12-30  17.660000  17.660000  17.660000  17.660000  17.660000     0.0
1  1928-01-03  17.760000  17.760000  17.760000  17.760000  17.760000     0.0
2  1928-01-04  17.719999  17.719999  17.719999  17.719999  17.719999     0.0
3  1928-01-05  17.549999  17.549999  17.549999  17.549999  17.549999     0.0
4  1928-01-06  17.660000  17.660000  17.660000  17.660000  17.660000     0.0

In [10]:
u_rate.head()

         DATE  UNRATE
0  1948-01-01     3.4
1  1948-02-01     3.8
2  1948-03-01     4.0
3  1948-04-01     3.9
4  1948-05-01     3.5